<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/favicon.ico">
    <link href="static/jsoneditor.css" rel="stylesheet" type="text/css">
    <script src="static/jsoneditor.js"></script>
</head>
<body>
    <div id="jsoneditor"></div>
    <script>
        const container = document.getElementById("jsoneditor");
        const options = {{ options|tojson }};
        const editor = new JSONEditor(container, options ? options : {colorPicker: false});
        const initialJson = {{ data|tojson }};
        const jsoneditorMenu = document.getElementsByClassName('jsoneditor-menu')[0]
        editor.set(initialJson);
        if ({{ send_back_json|tojson }}) {
            const callbackButton = document.createElement('button')
            callbackButton.className = 'send-back-json'
            callbackButton.title = 'Trigger callback with the current data'
            jsoneditorMenu.append(callbackButton)
            callbackButton.onclick = () => {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", window.location.origin + '/callback', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    data: editor.get()
                }));
            }
        }
        const closeButton = document.createElement('button')
        closeButton.className = 'finnish-and-shuttdown'
        closeButton.title = 'Finnish and shuttdown'
        jsoneditorMenu.append(closeButton)
        closeButton.onclick = () => {
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                window.close();
            }
            xhr.open("GET", window.location.origin + '/close');
            xhr.send(null);
        }
    </script>
</body>
</html>
